@use './variables' as *;

@mixin mobile {
    @media (max-width: $bp-mobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: calc(#{$bp-mobile} + 1px)) and (max-width: $bp-tablet) {
        @content;
    }

}

@mixin desktop {
    @media (min-width: $bp-desktop) {
        @content;
    }
}

@mixin wide {
    @media (min-width: $bp-wide) {
        @content;
    }
}

@mixin container {
    width: 100%;
    max-width: $container-max;
    padding-inline: $space-xl;
    margin-inline: auto;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
}

@mixin card {
    border-radius: $radius-md;
    background: $color-white;
    box-shadow: $shadow-md;
    border: 1px solid rgba(0, 0, 0, 0.06);
}

@mixin truncate($lines: 1) {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
}

@mixin text-gradient($from, $to) {
    background: linear-gradient(90deg, $from, $to);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin glass($blur: 10px, $opacity: 0.15) {
    backdrop-filter: blur($blur);
    background: rgba(255, 255, 255, $opacity);
    border: 1px solid rgba(255, 255, 255, 0.25);
}

@mixin border-gradient($from, $to, $radius: $radius-md) {
    position: relative;
    z-index: 1;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: $radius;
        padding: 1px;
        background: linear-gradient(90deg, $from, $to);

        mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);

        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);

        mask-composite: exclude;

        -webkit-mask-composite: xor;

        pointer-events: none;
    }
}